---
layout: splash
permalink: /
date:
header:
  overlay_color: "#838383"
  overlay_image: 571995cu-dark.jpg
  cta_label: "<i class='fa bell-o'></i> Subscribe for updates"
  cta_url: "http://tinyletter.com/localpreservation"
  caption:
excerpt: 'The Local Preservation School is an open learning environment where preservation advocates and volunteers share how we can work together to save and sustain historic places in our communities.'
feature_row:
  - image_path: 12881v.jpg
    alt: "about"
    title: "About Local Preservation School"
    excerpt: "The Local Preservation School is a community-based project with opportunities for people from all backgrounds to take part."
    url: "/about/"
    btn_label: "Learn More"
  - image_path: 18659u.jpg
    alt: "get involved"
    title: "Get Involved"
    excerpt: "We are organizing a series of workshops where preservation professionals and interested learners can come together to create lessons and other teaching materials."
    url: "/get-involved/"
    btn_label: "Learn More"
  - image_path: 11929u.jpg
    alt: "100% free"
    title: "Open Education"
    excerpt: "Open educational resources are teaching and learning materials that are freely available online for everyone to use, whether you are an teacher, student or self-learner."
    url: "/open-education/"
    btn_label: "Learn More"
intro:
  - excerpt: 'Follow for updates on the school &nbsp; [<i class="fa fa-twitter"></i> @localpast](https://twitter.com/localpast){: .btn .btn--twitter}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
